.style1{
    height:120px;
    background-color: lightskyblue;
}

#text2{
    margin-top:38px;
}
#text1{
    margin-left:100px;
    margin-top:20px;
}
#text3{
    margin-top:34px;
   
}
.style2{
    height:60px;
    background-color: coral;
}
.padd{
    margin-left:40px;
}
.space{
    margin-top:15px;
}
.space1{
    margin-top:19.4px;
}
.margin{
    margin-left:600px;
}